body{
  margin: 0;
  display: flex;
  background: url('../assets/img/login.png') center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.log-tab{
width: 18.5vw;
padding: 4.5vw;
border-radius:2vw;
background: rgb(255, 255, 255);
display: flex;
align-items: center;
flex-direction: column;
}
.log-title{
  font-weight: 700;
  font-size: 2.7vw;
  margin: 0vw;
}
.log-sub{
  margin: 0.6vw 0vw;
  font-weight: 400;
  font-size: 0.9vw;
  color: rgb(155, 155, 155);
  font-family: 'Poppins', sans-serif;
}
.log-form{
  display: flex;
  margin-top: 1.3vw;
  flex-direction: column;
  align-items: center;
}
.log-inp{
  width:20vw;
  border: 0px solid;
  background: rgb(247, 247, 247);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.6vw;
  font-size: 0.9vw;
  padding: 1vw 1.5vw;

  transition: 0.3s all;
  margin: 0.5vw 0vw; 
  outline:none;
}

.log-inp::placeholder{
  font-weight: 400;
  color: rgb(184, 184, 184);
}
.log-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 0.6vw;

  font-size: 1vw;
  color: rgb(255, 255, 255);
  padding: 1.2vw 3vw;
  text-align: center;
  border: 0px solid;
  cursor: pointer;
  background: rgb(34, 158, 106);
  transition: 0.3s all;
  font-weight: 700;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.log-inp:focus{
  background: rgb(238, 238, 238);
}
.log-button:hover{
  background: rgb(0, 0, 0);
}
.log-err{
  position: absolute;
  font-size: 1vw;
  font-weight: 500;margin-top: 17.5vw;
  color: #fd5c5c;
  animation-name: gone;
  animation-delay: 300;
}
@keyframes gone {
  0% {
    font-size: 2vw;
  }
  100% {
    font-size: 1vw;
  }
}



.dash{
  width: 100vw;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
}

.dash-menu{
  width: 19vw;
  background: #ffffff;
  
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-menu-title{
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2vw;
}
.dash-menu-item{
  width:40%;
  display: flex;
  color: #949494;
  border-radius: 0.5vw;
  font-weight: 400;
  margin:0.5vw;
  padding: 1.2vw 1.9vw;
  font-size: 0.9vw;
  transition: 0.3s all;
  cursor: pointer;
}

.menu-icon{
  width:1.2vw;  margin-right: 1.1vw;
  fill: #ffffff;
}

.menu-active{
font-weight: 600;

color: #3b3b3b;
}



.dash-pri{
  width:81vw;
  height:100vw;
  background: rgb(237, 255, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav{
  border-radius: 0.7vw;
  padding: 0.5vw 0vw;
  display: flex;
  justify-content: flex-end;

  width:87%;
  margin: 2vw 0vw;
}
.nav-title{
  font-size: 2vw;
  font-weight: 600;
  margin: 0vw 0vw;
  color: #4b834c;
}
.nav-opt{
  width:3vw;
  background: rgb(255, 255, 255);
  height:3vw;
  color: #fff;
  font-size: 1.7vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  cursor: pointer;
  border: 0.11vw solid #f5f5f5;
  transition: 0.3s all;
}
.nav-opt:hover{
  border: 0.11vw solid #e6e6e6;
  background: #fdfdfd;
}

.nav-opt-logo{
  width: 1vw;
}

.nav-opt-list{
  width:12vw;
  border-radius: 2vw;
  position: absolute;
  margin-top: 4vw;
  margin-left: 54.75%;
  padding: 0.75vw 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(200, 235, 191);
}
.nav-opt-list-item{
  width: 82%;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  padding: 1vw 0vw;
  color: #275528;
  margin:0.2vw;
  border-radius: 2vw;
  cursor: pointer;
  transition: 0.3s all;
}
.nav-opt-list-item:hover{
  background: #aed6af;
}





.dash-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:90%;
  height: 37vw;
}
.dash-graph{

  width:63%;
  height: 24vw;
  background: rgb(255, 255, 255);
  border-radius: 1.25vw;
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}.dash-graph-span{
  width:87%;
  height: 87%;
  margin-top: 0vw;
}
.dash-pie{

  width:30%;
  height: 24vw;
  background: rgb(255, 255, 255);
  margin: 1vw;
  display: flex;flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.4vw;
}
.dash-pie-head{
  margin-top: 0vw;
  margin-bottom: 0vw;
  width:70%;
  text-align: center;
  font-weight: 700;
  color: #3a3a3a;
  font-size: 1.7vw;
}
.dash-pie-p{
  margin-top: 0.2vw;
  margin-bottom: 2vw;
  margin-left: 0vw;
  font-size: 0.8vw;
  font-weight: 500;
  color: #979797;
}
.dash-tab{
  width:30%;
  height: 9.2vw;
  background: #ffffff;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1vw;
}
.dash-tab-icon-back{
  width:3.3vw;
  height: 3.3vw;
  background: #eaffea;
  margin-right: 2vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dash-tab-icon{
  width:1.2vw;
}
.dash-tab-p{
  margin-top: 2vw;
  margin-bottom: 0vw;
  margin-left: 2.5vw;
  font-size: 0.8vw;
  font-weight: 500;
  color: #919090;
}.dash-tab-head{
  margin-top: 0vw;
  font-size: 2vw;
  margin-left: 2.5vw;
  font-weight: 700;
  color: #2c2c2c;
}





.sales{
  margin-top: 0vw;
  width:72vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1vw 0vw;
}
.sales-cal{
  height: 20vw;

  width:23vw;
  background: rgb(255, 255, 255);
  border-radius: 1vw;
  margin-top: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-chart{
  height: 34vw;
  border-radius: 1vw;
  width:43vw;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

}
.sales-chart::-webkit-scrollbar{
width: 0;
}
.span-title{
  margin: 2.5vw 0vw;
  margin-bottom: 0.85vw;
  width:77%;
  font-size: 1.7vw;
  font-weight: 700;
  color: #1c3d1d;
}

.sales-chart-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  padding: 1.5vw 0;
  font-size: 0.9vw;
  margin: 0vw 0vw;
  border-bottom: 1.2px solid #f0f0f0;
}
.sales-chart-item-name{
  margin:0vw;
  font-size: 1vw;
  width:22%;
  font-size: 0.9vw;
  color: #5a5a5a;
  margin-left: -2vw;
}
.sales-chart-count{
  margin:0vw;
  font-size: 0.9vw;
  width:8%;
}
.sales-chart-count-no{
  margin:0vw;
  width: 10%;
  font-size: 0.9vw;
}
.sales-chart-inc{
  margin:0vw;
  font-size: 0.9vw;
  width:10%;
}
.sales-tab{
  width:23vw;
  height: 11.2vw;
  background: #ffffff;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1vw;
}
.sales-tab-icon-back{
  width:3.3vw;
  height: 3.3vw;
  background: #eaffea;
  margin-right: 3vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-tab-icon{
  width:1.2vw;
}
.sales-tab-p{
  margin-top: 2vw;
  margin-bottom: 0vw;
  margin-left: 3vw;
  font-size: 1vw;
  font-weight: 400;
  color: #969696;
}.sales-tab-head{
  margin-top: 0vw;
  font-size: 2.8vw;
  margin-left: 3vw;
  font-weight: 700;
  color: #242424;
}

.sales-top{
  margin-top: 0vw;
  font-weight: 600;
  text-transform: uppercase;
  color: #5a5a5a;
  background: #d2fcd2;
  border-bottom: 1.2px solid #d2fcd2;
}
.sales-err{
  margin-top: 3vw;
}




.bill{
  display: flex;
  justify-content: space-around;
  width:80%;
  height:30vw;
  margin-top: 1vw;
  border-radius: 1.2vw;
  padding: 2vw 2.4vw;
  align-items: center;
  background: #fff;
  align-items: center;
 
}
.bill-title{
  margin-top: 0vw;
  margin-bottom: 1.1VW;
  margin-left: 2vw;
  font-size: 3.5vw;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
.bill-det{
  width:48%;
  height: 80%;
}

.bill-inp{ 
  margin:0.4vw 2vw;
  border-radius: 0.6vw;
  border:0px solid;
  padding:1.1vw 2vw;
  background: #f5f5f5;
  width:80%;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.bill-inp::placeholder{
  font-family: 'Poppins', sans-serif;
}
.bill-button{
  width: auto;
}
.bill-form{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.bill-prod{
  display: flex;
  flex-direction: column;
  
  align-items : flex-start;
  margin-left: 2vw;
  margin-top: 0.4vw;
}
.bill-subt{
  margin-left: 3.5vw;
}
.bill-prod-span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84%;
}
.bill-prod-inp{
  width:37%;
  margin: 0vw;
}
.bill-prod-name{
  width:60%;
}
.bill-total{
  background-color: #f1f1f1;
  border-radius: 1vw;
  height: 27vw;
  width:40%;
  padding: 0vw 3vw;
}
.bill-prod-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 3.4vw;
  margin-left: 2vw;
}.bill-prod-list-item{
  margin: 0.3vw 0vw;
  padding: 0vw 1vw;
  font-size: 0.9vw;
  cursor: pointer;
}
.bill-total-prod{
  font-size: 0.9vw;
  color: #3b3b3b;
}
.bill-prod-list-item:hover{
background: #dbdbdb;}
.bill-p{
  color: #747474;
  font-weight: 600;
  font-size: 1.3vw;
  margin-top: 3vw;
}
.bill-sub{
  font-size: 0.8vw;
  color: #c0c0c0;
}
.bill-cont{
  color: rgb(131, 131, 131);
  font-weight: 400;
}
.bill-cont-main{
  font-weight: 800;
  color: rgb(75, 75, 75);
}
.bill-total-main{
  font-size: 1.1vw;
  font-weight: 800;
  color: #fff;
}
.bill-button-main{
  background: rgb(18, 155, 6);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 1.1vw 2vw;
  font-weight: 600;
  margin-bottom: 2vw;
}.bill-button-main:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}





.products{
  width: 87%;
  height: 37vw;
}
.prod-list{
  width: 100%;

  height: 82%;
  display: flex;
  flex-direction: column;
  padding: 0vw 0vw;
  padding-right: 0vw;
  border-radius: 0.9vw;
  background: rgb(255, 255, 255);
  overflow-y: scroll;
}
.prod-list::-webkit-scrollbar{
  width:0px;
}

.prod-list-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0vw 0vw;
  align-items: center;
  font-size: 0.9vw;
  margin: 0.1vw 0vw;
  border-bottom: 0.1vw solid #ececec;
}

.prod-list-label{
  font-weight: 600;
  margin-top: 0vw;
  font-size: 0.89vw;
  padding-top: 1vw;
  text-transform: uppercase;
  background: #d2fcd2;
  color: rgb(32, 32, 32);

  border-bottom: 1.2px solid #d2fcd2;
}
.prod-list-no{
  width:12%;
  margin-left: 2vw;
}
.prod-list-pr{
  width:15%;
}.prod-list-name{
  width:30%;
}.prod-list-id{
  width:10%;
}
.prod-list-ac{
background: #ffffff;
padding: 0.1vw 0.9vw;
font-weight: 800;
border-radius: 3vw;
color: rgb(233, 167, 167);
width: 5.2vw;
cursor: pointer;
font-size: 0.9vw;
transition: 0.3s all;
}
.prod-list-ac-icon{
 padding: 0.9vw;
 margin-left: -1vw;
 border-radius: 3vw;
 width: 1vw;
}
.prod-list-ac-icon:hover{
  background: rgb(240, 240, 240);
}
.prod-list-ac-label{
  width: 10.5%;
}
.prod-form-span{
  width: 100%;
  margin-top: 2vw;
}
.prod-form{
  width: 100%;
  display: flex;
}

.prod-inp{
  border-radius: 0.7vw;
  padding:1vw 2vw;
  width:18vw;
  font-size: 0.9vw;
  background: rgb(255, 255, 255);
  transition: 0.4s all;
  border: 0.11vw solid #ffffff;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.prod-inp:focus{
  border: 0.11vw solid #f1f1f1;
}
.prod-inp-pr{
  border-radius: 0.7vw;
  border:0px solid;
  padding:1vw 2vw;
  width:14vw;
  transition: 0.4s all;
  margin-left: 1vw;
  font-size: 0.9vw;
  background: rgb(255, 255, 255);
  border: 0.11vw solid #ffffff;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.prod-inp-pr:focus{
  border: 0.11vw solid #f1f1f1;
}
.prod-button{
  margin-top: 0vw;
  font-size: 0.9vw;
  font-weight: 600;
  text-transform: uppercase;
  padding:1vw 2.3vw;
  margin-left: 2vw;
  width: auto;
  border-radius: 0.7vw;

}




.settings{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  width:84%;
  border-radius: 3vw;
  margin-top: -0.95vw;
  height: 37vw;
}
.settings-title{
  color: #0a0a0a;
  font-size: 2vw;
  width:100%;
  font-weight: 600;
  margin: 1.5vw  0vw;
  margin-top: 1vw;
}
.settings-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}
.settings-span{
  display: flex;
  width:95%;
  flex-direction: row;
}
.settings-label{
  width:25%;
}
.settings-inp{
 margin:0.4vw 2vw;
  border-radius: 0.6vw;
  border:0px solid;
  padding:1.2vw 2vw;
  border: 0.11vw solid #ffffff;
  width:30vw;
  font-family: 'Poppins', sans-serif;
  transition: 0.4s all;
  outline: none;
}
.settings-inp:focus{
  border: 0.11vw solid #eeeeee;
}
.setting-button{
  margin-top:2vw;
  width: auto;
  padding:1.1vw 2.2vw;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 0px solid #a0a096;
  font-family: 'Poppins', sans-serif;
  line-height: 1.125em;
}



#cover-spin {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
}
.log-load{
  position: absolute;
  width:100vw;
  height:100%;
}
@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  width:40px;height:40px;
  border-style:solid;
  border-color:rgb(60, 121, 80);
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}